{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ name }}{% endblock %}

{% block page_description %}{{ name }} by Maria Probert Hermosillo{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="img/members/{{ imagebw }}" alt="bw photo" class="img-fluid mb-4">
      </div> 
     <h1>{{ name }}</h1>
    <div class="stuff">  
        <h2>{{instruments}}</h2>
        <h3>{{tenure}}</h3>
        <h4>{{birthdate}}</h4>
        <h5>{{birthplace}}</h5>
        {{ prose(description) }}
    </div> 
      </div>
  </article>
{% endblock %}